.form-container{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;

    h1{
        font-size: 2.5rem;
    }
  }
  
   
  
  .form{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .form-label{
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    margin: 16px 0;
    padding: 32px;
    text-align: center;
  }
  
  
  .form-input{
    font-size: 2rem;
    margin: 16px 0;
    border: none;
    border-bottom: 2px dashed black;
    text-align: center;
    outline: none;
    padding: 8px;
  }
  
  .form-btn{
    width: fit-content;
    margin: 0 auto;
    font-size: 1.8rem;
    padding: 12px;
    border-radius: 16px;
    border:none;
    background-color: aquamarine;

    &:enabled{
        box-shadow: 5px 5px 1px 1px rgb(62, 241, 182);
        cursor: pointer;

        &:hover{
            position: relative;
            top: 5px;
            left: 5px;
            box-shadow: none;
        }
      }

    &:disabled{
        filter: grayscale(30%);
      } 
  }
  
  
  .error{
    font-size: .8rem;
    color: red;
  }